#container{
    border-style: solid;
    border-width: 4px ;
    position: absolute;
    left: 25%;
    bottom: 0%;
}

#name{
    text-align: center;
}

#score{
    position: absolute;
    left: 40%;
    top: 13%;
    
}

#rank{
    position: absolute;
    right: 35%;
    top: 13%;
}

#paddle{
    position: absolute;
    border-style: solid;
    height: 4px;
    width: 5%;
    bottom: 4%;
    background-color: blue;
    border-color: red;
}

.missile{
    position: absolute;
    width: 30px;
}

#medal{
    height: 20px;
}
